.section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    height: auto;
    gap: 100px;
    padding: 70px 15%;
}

.title {
    font-size: 2rem;
    color: #444649;
    font-weight: bold;
    text-align: center;
}

.title::after {
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background-color: #03C75A;
    margin: 7px auto 0;
}

.profileSection {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

.profileImg {
    width: 250px;
}

.profile {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px 0;
}

.profileInfo {
    display: flex;
    align-items: center;
    gap: 30px;
}

.icon {
    height: 30px;
}

.info {
    /* font-family: 'MyFontThin', sans-serif; */
    font-size: 17px;
    word-break: break-word;
}

.label {
    color: gray;
    font-size: 13px;
}

.profileMobile {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

@media (max-width: 768px) {
    .section {
        padding: 50px 0;
        gap: 50px;
    }

    .profileSection {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .profileImg {
        width: 200px;
    }

    .profile {
        display: none;
    }

    .profileMobile {
        display: flex;
    }
}