.section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #EEEEEE;
    height: 1000px;
    padding: 70px 15%;
}

.title {
    font-size: 2rem;
    color: #444649;
    font-weight: bold;
    text-align: center;
}

.title::after {
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background-color: #444649;
    margin: 7px auto 0;
}
